# Google Apps Script Web App URL
# Ganti dengan URL Apps Script deployment Anda
VITE_APPS_SCRIPT_URL=https://script.google.com/macros/s/AKfycbzgqv8S2fdjaQzgD5RNNndk_GYvsBd2s0v1Enofmmu9HmWagLPO3bnI7g5puKgPEiwN/exec

# Optional: Gemini API Key untuk fitur AI
VITE_GEMINI_API_KEY=your_gemini_api_key_here
