# Google Apps Script Web App URL
# Ganti dengan URL Apps Script deployment Anda
VITE_APPS_SCRIPT_URL=https://script.google.com/macros/s/AKfycbz15ZIqO1Z6LVoo_cFpc9m4JCYb1JEby4VnJSYsZUx5ANRqxRNYqH61TLpA__BnP4qL/exec

# Optional: Gemini API Key untuk fitur AI
VITE_GEMINI_API_KEY=your_gemini_api_key_here
